In [1]:
# pip
# !pip install tqdm
# !pip install dask

In [2]:
# conda
# !conda install tqdm
# !conda install dask

### Importing necessary libraries

In [3]:
# configuration, worked on using python@3.10.9 
import os
import urllib
import json
from threading import Thread, Lock
from tqdm import tqdm
from pyspark.sql import SparkSession
import pyspark.sql.functions as F
from pyspark.sql.types import StringType, BooleanType
from haversine import haversine, Unit

### Dataset links and filename

In [4]:
# data folder
data_dir = 'data'
intr_dir = 'results'

# data urls
historic_arrest_loc = { 'url': 'https://data.cityofnewyork.us/resource/8h9b-rp9u.json?$limit=15000000', 'filename': 'arrest.json' }
historic_complaint_loc = { 'url': 'https://data.cityofnewyork.us/resource/qgea-i56i.json?$limit=15000000', 'filename': 'complaint.json' }
historic_court_summons_loc = { 'url': 'https://data.cityofnewyork.us/resource/sv2w-rv3k.json?$limit=15000000', 'filename': 'summons.json' }
traffic_speed_loc = { 'url': 'https://data.cityofnewyork.us/resource/i4gi-tjb9.json?$limit=15000000', 'filename': 'speed.json' }
turnstile_loc = { 'url': 'https://data.ny.gov/resource/i55r-43gk.json?$limit=15000000', 'filename': 'turnstile.json' }
subway_loc = { 'url': 'http://web.mta.info/developers/data/nyct/subway/Stations.csv?$limit=10000', 'filename': 'subway.csv' }

### Dataset: Downloading handler

In [5]:
# download flags
downloadflag = True
redownload = False

thread_lock = Lock()

# download utils
def download_dataset_thread(loc, folder):
    with thread_lock:
        if ((not os.path.exists(os.path.join(folder, loc['filename']))) or redownload) and downloadflag:
            if os.path.isfile(os.path.join(folder, loc['filename'])):
                os.remove(os.path.join(folder, loc['filename']))
            if not os.path.exists(folder):
                os.makedirs(folder) 
            with tqdm(unit="B", unit_scale=True, desc=loc['filename'], miniters=1) as progress_bar:
                urllib.request.urlretrieve(loc['url'], os.path.join(folder, loc['filename']), lambda block_num, block_size, total_size: progress_bar.update(block_size))
            progress_bar.display()
        
def download_dataset(loc, folder):
    thread = Thread(target=download_dataset_thread, args=(loc, folder))
    thread.start()
    thread.join()

### Dataset: Downloading

In [6]:
# download datasets
for dataset in [historic_arrest_loc,
                historic_complaint_loc,
                historic_court_summons_loc,
                turnstile_loc,
                subway_loc]:
    download_dataset(dataset, data_dir)

### Creating spark session using SparkSession builder

In [7]:
# spark session initialization
spark = SparkSession.builder\
    .master("local[5]")\
    .appName("main")\
    .config("spark.sql.debug.maxToStringFields", 100)\
    .config("spark.driver.memory", '4g')\
    .config("spark.executor.instances", 5)\
    .getOrCreate()

spark

Setting default log level to "

### Initializing spark dataframes

In [8]:
# dataframes
arrest_df = spark.read.json(os.path.join(data_dir, historic_arrest_loc['filename']), multiLine=True).repartition(5)
complaint_df = spark.read.json(os.path.join(data_dir, historic_complaint_loc['filename']), multiLine=True).repartition(5)
summons_df = spark.read.json(os.path.join(data_dir, historic_court_summons_loc['filename']), multiLine=True).repartition(5)
turnstile_df = spark.read.json(os.path.join(data_dir, turnstile_loc['filename']), multiLine=True).repartition(5)
subway_df = spark.read.option('header', True).option('inferSchema', True).csv(os.path.join(data_dir, subway_loc['filename'])).repartition(5)

### UDFs

In [9]:
# normalize udf for station id in subway and turnstile
def normalize(unit):
    type, *val = list(unit)
    return type + str(int(''.join(val)))

nUdf = F.udf(normalize, StringType())

In [10]:
# haversine distance comparison udf
def withinMile(slat, slong, dlat, dlong):
    srs = (slat, slong)
    dst = (dlat, dlong)
    distance = float(haversine(srs, dst,unit=Unit.MILES))
    return bool(distance < 0.1)
    
withinMileUdf = F.udf(withinMile, BooleanType())

### Dataset Pre-processing

#### 1. Arrest dataset cleaning

In [11]:
# preprocess arrest data
arrest_df = arrest_df.select("arrest_boro","arrest_date", "arrest_key", "latitude", "longitude", )\
    .filter(F.col('latitude').isNotNull()\
        & F.col('longitude').isNotNull())\
    .withColumn("longitude", F.col("longitude").cast("double"))\
    .withColumn("latitude", F.col("latitude").cast("double"))
arrest_df.show()

+-----------+--------------------+----------+------------------+------------------+
|arrest_boro|         arrest_date|arrest_key|          latitude|         longitude|
+-----------+--------------------+----------+------------------+------------------+
|          B|2010-03-12T00:00:...|  71730512| 40.82095486800005|-73.85801740899994|
|          M|2009-06-03T00:00:...|  62411068|40.863003221000035|-73.92425384299997|
|          B|2007-12-29T00:00:...|  37340060|40.867263716000025|-73.89685776699997|
|          K|2014-08-29T00:00:...| 138453053| 40.68746505200004|     -73.952855937|
|          K|2009-05-21T00:00:...|  61995801| 40.69395702200006|-73.91183165399997|
|          B|2012-05-30T00:00:...|  85006006|40.831974874000025|-73.89669204099994|
|          M|2016-08-27T00:00:...| 156196665| 40.81021769500006|-73.93949694199993|
|          Q|2016-03-11T00:00:...| 151134432| 40.70010913700002|-73.82421171499993|
|          M|2013-08-07T00:00:...|  92014453| 40.70578749500004|-74.00838356999998|
|          K|2007-10-25T00:00:...|  35286352| 40.67368625000006|-73.86575729099997|
|          B|2016-07-14T00:00:...| 154856315| 40.86170890900007|-73.89138208599996|
|          B|2015-08-14T00:00:...| 145333163| 40.85999649200004|-73.90408122399998|
|          S|2012-11-08T00:00:...|  87603015| 40.62384888900005|-74.08197985899994|
|          M|2008-02-09T00:00:...|  39013090| 40.74298079600004|-73.98323505999997|
|          Q|2018-01-19T00:00:...| 173818792|40.580403286000035|-73.83153598499997|
|          Q|2009-01-24T00:00:...|  55978379| 40.76142101200002|-73.88453904299998|
|          K|2008-08-05T00:00:...|  49836502| 40.64555467100007|-73.95909079399996|
|          M|2010-07-14T00:00:...|  73677202| 40.71236665600002|-74.00888578799999|
|          B|2014-09-27T00:00:...| 138893716|40.874984151000035|-73.87945670399995|
|          M|2016-01-21T00:00:...| 149596931|40.798293080000064|-73.94186988299998|
+-----------+--------------------+----------+------------------+------------------+
only showing top 20 rows

#### 2. Complaint dataset cleaning

In [20]:
# preprocess complaint data
complaint_df = complaint_df.select("cmplnt_num","loc_of_occur_desc", "cmplnt_to_dt", "cmplnt_to_tm", "latitude", "longitude", )\
    .filter(F.col('latitude').isNotNull()\
        & F.col('longitude').isNotNull())\
    .withColumn("longitude", F.col("longitude").cast("double"))\
    .withColumn("latitude", F.col("latitude").cast("double"))
complaint_df.show()

+----------+-----------------+--------------------+------------+------------------+------------------+
|cmplnt_num|loc_of_occur_desc|        cmplnt_to_dt|cmplnt_to_tm|          latitude|         longitude|
+----------+-----------------+--------------------+------------+------------------+------------------+
| 870010794|             null|2020-03-06T00:00:...|    01:00:00| 40.68900458000007|-73.78580605399996|
| 532313042|         FRONT OF|2020-02-17T00:00:...|    20:36:00| 40.71224785000004|-73.76903757999997|
| 106900823|           INSIDE|2006-02-12T00:00:...|    17:50:00|      40.699166247|     -73.792066606|
| 408535776|           INSIDE|2006-04-11T00:00:...|    10:56:00|      40.680332821|     -73.905972878|
| 583339129|             null|                null|        null|      40.688378278|      -73.94491166|
| 562935534|         FRONT OF|2017-05-27T00:00:...|    21:30:00|        40.8551677|      -73.88790442|
| 800736634|             null|2014-01-03T00:00:...|    20:00:00|      40.678830561|     -73.866269707|
| 470753868|             null|                null|        null|      40.876190434|     -73.854449784|
| 361625002|         FRONT OF|                null|        null|      40.805504347|     -73.916477252|
| 651315379|         FRONT OF|2011-09-04T00:00:...|    01:00:00|      40.760191234|     -73.963319557|
| 739557542|         FRONT OF|2020-10-08T00:00:...|    12:30:00|40.739695320000074|     -73.922712414|
| 548929667|           INSIDE|2017-05-11T00:00:...|    02:00:00|      40.676314308|     -74.005935557|
| 116374885|             null|2007-05-14T00:00:...|    07:45:00|      40.883382579|     -73.902333309|
| 478139136|           INSIDE|2014-07-31T00:00:...|    16:46:00|      40.683241525|     -73.873652239|
| 433296153|             null|2006-07-01T00:00:...|    21:25:00|      40.832616561|     -73.857515523|
| 224112470|           INSIDE|2008-03-26T00:00:...|    19:50:00|      40.844921957|     -73.829789053|
| 809840381|           INSIDE|                null|        null| 40.75771167700003|-73.98202575399995|
| 947823506|           INSIDE|2017-04-30T00:00:...|    12:50:00|      40.867233937|     -73.820891974|
| 221705377|         FRONT OF|                null|        null|      40.799645073|     -73.945104921|
| 814051320|             null|2012-05-09T00:00:...|    15:36:00|      40.735417541|     -73.975143389|
+----------+-----------------+--------------------+------------+------------------+------------------+
only showing top 20 rows

#### 3. Summons dataset cleaning

In [28]:
# preprocess summons data
summons_df = summons_df.select("jurisdiction_code","law_description", "offense_description", "precinct_of_occur", "latitude", "longitude", )\
    .filter(F.col('latitude').isNotNull()\
        & F.col('longitude').isNotNull())\
    .withColumn("longitude", F.col("longitude").cast("double"))\
    .withColumn("latitude", F.col("latitude").cast("double"))
summons_df.show()

+-----------------+-------------------+--------------------+-----------------+------------------+------------------+
|jurisdiction_code|    law_description| offense_description|precinct_of_occur|          latitude|         longitude|
+-----------------+-------------------+--------------------+-----------------+------------------+------------------+
|                0|Administrative Code|VEND:RESTRICTIONS...|              109|40.757105780000074|-73.82896307099996|
|                0|Administrative Code|  VENDOR: UNLICENSED|               94| 40.71812038400003|-73.95743012599996|
|                0|Administrative Code|  VENDOR: UNLICENSED|               94| 40.71812038400003|-73.95743012599996|
|                0|Administrative Code|  VENDOR: UNLICENSED|               94| 40.71812038400003|-73.95743012599996|
|                0|Administrative Code|  VENDOR: UNLICENSED|               94| 40.71812038400003|-73.95743012599996|
|                0|Administrative Code|  VENDOR: UNLICENSED|               94| 40.71812038400003|-73.95743012599996|
|                0|                ABC|   UNDERAGE DRINKING|               70| 40.63224054700004|-73.94762406299998|
|                0|          Penal Law|DISCON: REFUSE LA...|               25| 40.80337107400004|-73.93711198499993|
|                0|Administrative Code|CONSUMPTION OF AL...|              106| 40.67979643700004|-73.85255656799995|
|                0|        Health Code| URINATING IN PUBLIC|              104|40.701955336000026|-73.90500467599996|
|                0|          Penal Law|  DISORDERLY CONDUCT|               48| 40.83920982000007|     -73.876988107|
|                0|          Penal Law|  DISORDERLY CONDUCT|               48| 40.83920982000007|     -73.876988107|
|                0|          Penal Law|  DISORDERLY CONDUCT|               48| 40.83920982000007|     -73.876988107|
|                0|          Penal Law|  DISORDERLY CONDUCT|               48| 40.83920982000007|     -73.876988107|
|                0|Administrative Code|CONSUMPTION OF AL...|              121| 40.63638702700007|-74.13452725899998|
|                0|Administrative Code|CONSUMPTION OF AL...|              121| 40.63638702700007|-74.13452725899998|
|                0|Administrative Code|CONSUMPTION OF AL...|              121| 40.63638702700007|-74.13452725899998|
|                0|Administrative Code|CONSUMPTION OF AL...|              121| 40.63638702700007|-74.13452725899998|
|                0|Administrative Code|CONSUMPTION OF AL...|              121| 40.63638702700007|-74.13452725899998|
|                0|Administrative Code|CONSUMPTION OF AL...|              121| 40.63638702700007|-74.13452725899998|
+-----------------+-------------------+--------------------+-----------------+------------------+------------------+
only showing top 20 rows

### Dataset: Analysis

#### 1. Subway and Turnstile dataset analysis

In [10]:
# normalize subway GTFS Stop ID
subway_df = subway_df.withColumn('GTFS Stop ID', nUdf(F.col('GTFS Stop ID')))

In [11]:
# normalize turnstile unit
turnstile_df = turnstile_df.withColumn('unit', nUdf(F.col('unit')))

In [12]:
# getting subways stations in turnstile and subway dataset
s_list = subway_df.select(F.col('GTFS Stop ID')).distinct().toPandas().values.flatten()
t_list = turnstile_df.select(F.col('unit')).distinct().toPandas().values.flatten()

In [13]:
# comparing common subway stations
ts_intersect = [value for value in t_list if value in s_list]
ts_intersect

['R16',
 'R13',
 'R6',
 'R30',
 'R8',
 'R40',
 'R23',
 'R45',
 'R21',
 'R20',
 'R43',
 'R3',
 'R36',
 'R15',
 'R24',
 'R29',
 'R33',
 'R39',
 'R4',
 'R41',
 'R27',
 'R19',
 'R5',
 'R44',
 'R22',
 'R34',
 'R32',
 'R31',
 'R42',
 'R9',
 'R11',
 'R1',
 'R25',
 'R18',
 'R14',
 'R35',
 'R17',
 'R28']

### Dataset: Consolidating

1. Combine Subway to Turnstile

In [15]:
# filter and group turnstile dataset
gt_df = turnstile_df.groupBy(F.col('unit'))\
    .agg({ 'entries': 'sum', 'exits': 'sum'})\
        .select(F.col('unit'),\
            F.col('sum(entries)').alias('entries'),\
            F.col('sum(exits)').alias('exits'))
gt_df.show()

+----+-----------------+-----------------+
|unit|          entries|            exits|
+----+-----------------+-----------------+
|R159|  9.7658670459E10|  3.6752142042E10|
|R143| 6.16250900125E11| 7.75773326471E11|
|R469|  1.0314052482E10|     9.79342886E8|
|R167|  1.6874102816E11| 1.96763060056E11|
|R100|  3.8355082149E10|  4.2813609167E10|
|R177| 2.21718982614E11| 1.91598461153E11|
|R290|  7.7285465068E10|  9.9919615555E10|
|R082|  4.0183520438E10|  5.4452586495E10|
|R384|   2.283725805E10|  2.2146211814E10|
|R432|  1.5507768821E10|    7.016570014E9|
|R541|  2.0813861412E10|  1.6886431668E10|
|R046| 4.16017591248E11| 2.68429971561E11|
|R412|    9.997534418E9|     3.88309983E9|
|R018|1.385354956576E12|1.019986375028E12|
|R430|    9.052436119E9|   1.126470821E10|
|R294|  4.0256229752E10|  2.4555010956E10|
|R329|  1.1117120569E10|    5.684716085E9|
|R431|1.094341262102E12|1.096776281978E12|
|R125|  3.7882386986E10|  2.4059386949E10|
|R462| 3.48375809509E11| 3.96053270441E11|
+----+-----------------+-----------------+
only showing top 20 rows

In [16]:
# combine the total exits and entries for each station
st_df = subway_df.join(gt_df, F.col('GTFS Stop ID') == F.col('unit'))\
    .select(F.col('GTFS Stop ID').alias('id'),\
        F.col('Line').alias('line'),\
        F.col('Stop Name').alias('stop_name'),\
        F.col('Borough').alias('borough'),\
        F.col('GTFS Latitude').alias('lat'),\
        F.col('GTFS Longitude').alias('long'),\
        F.col('North Direction Label').alias('n_label'),\
        F.col('South Direction Label').alias('s_label'),\
        F.col('entries'),\
        F.col('exits'))

st_df.write.option('header', True).mode('overwrite').csv(os.path.join(intr_dir, 'st_df.csv'))

In [17]:
# get st_df from file
st_df = spark.read.csv(os.path.join(intr_dir, 'st_df.csv'), header=True, inferSchema=True)
st_df.show()

+---+-------------------+-----------------+-------+---------+----------+--------------------+--------------------+-----------------+-----------------+
| id|               line|        stop_name|borough|      lat|      long|             n_label|             s_label|          entries|            exits|
+---+-------------------+-----------------+-------+---------+----------+--------------------+--------------------+-----------------+-----------------+
|R16|Broadway - Brighton|   Times Sq-42 St|      M|40.754672|-73.986754|     Uptown & Queens| Downtown & Brooklyn|  7.9053401996E10|  9.4031973197E10|
|R13|            Astoria|       5 Av/59 St|      M|40.764811|-73.973347|              Queens| Downtown & Brooklyn|  9.9819375916E10| 1.70757933631E11|
| R6|            Astoria|            36 Av|      Q|40.756804|-73.929575|Astoria - Ditmars...|           Manhattan|  7.1331940846E10|  2.6958063183E10|
|R30|Broadway - Brighton|        DeKalb Av|     Bk|40.690635|-73.981824|           Manhattan|Coney Island - Ba...|1.625048003534E12|1.334749653979E12|
| R8|            Astoria|39 Av-Dutch Kills|      Q|40.752882|-73.932755|Astoria - Ditmars...|           Manhattan|  2.7676840763E10|  2.6753306073E10|
|R40|             4th Av|            53 St|     Bk|40.645069|-74.014034|           Manhattan|   Bay Ridge - 95 St| 1.18343499418E11|  1.3138969255E10|
|R23|           Broadway|         Canal St|      M|40.719527|-74.001775|     Uptown & Queens| Downtown & Brooklyn|3.034008171273E12|4.004890364733E12|
|R45|             4th Av|  Bay Ridge-95 St|     Bk|40.616622|-74.030876|           Manhattan|                null| 1.45718172033E11|  1.1424377247E11|
|R21|Broadway - Brighton|         8 St-NYU|      M|40.730328|-73.992629|     Uptown & Queens| Downtown & Brooklyn|1.067086537847E12| 8.97730531215E11|
|R20|Broadway - Brighton|   14 St-Union Sq|      M|40.735736|-73.990568|     Uptown & Queens| Downtown & Brooklyn| 3.52359562127E11| 3.20595332347E11|
|R43|             4th Av|            77 St|     Bk|40.629742| -74.02551|           Manhattan|               95 St| 7.74701516828E11| 1.27076914353E11|
| R3|            Astoria|     Astoria Blvd|      Q|40.770258|-73.917843|        Ditmars Blvd|           Manhattan|  1.0233724436E10|    6.300884972E9|
|R36|             4th Av|            36 St|     Bk|40.655144|-74.003549|           Manhattan|Coney Island - Ba...|    9.851525611E9|  1.4600105563E10|
|R15|Broadway - Brighton|            49 St|      M|40.759901|-73.984139|     Uptown & Queens| Downtown & Brooklyn| 1.71540057484E11| 1.83989511603E11|
|R24|           Broadway|        City Hall|      M|40.713282|-74.006978|     Uptown & Queens| Downtown & Brooklyn| 2.77143996739E11|  1.3558776869E11|
|R29|           Broadway| Jay St-MetroTech|     Bk| 40.69218|-73.985942|           Manhattan|   Bay Ridge - 95 St| 6.20282148955E11| 4.43236158889E11|
|R33|             4th Av|        4 Av-9 St|     Bk|40.670847|-73.988302|           Manhattan|   Bay Ridge - 95 St|3.697545906933E12|5.445914142777E12|
|R39|             4th Av|            45 St|     Bk|40.648939|-74.010006|           Manhattan|   Bay Ridge - 95 St|  1.0134315912E10|    1.548481925E9|
| R4|            Astoria|            30 Av|      Q|40.766779|-73.921479|Astoria - Ditmars...|           Manhattan|  3.1864562633E10|  3.1061851564E10|
|R41|             4th Av|            59 St|     Bk|40.641362|-74.017881|           Manhattan|Coney Island - Ba...| 2.32108548046E11|  9.8903419027E10|
+---+-------------------+-----------------+-------+---------+----------+--------------------+--------------------+-----------------+-----------------+
only showing top 20 rows

2. Combine Subway to Arrest

In [16]:
# print arrest schema
arrest_df.printSchema()

root
 |-- arrest_boro: string (nullable = true)
 |-- arrest_date: string (nullable = true)
 |-- arrest_key: string (nullable = true)
 |-- latitude: double (nullable = true)
 |-- longitude: double (nullable = true)

In [19]:
# perform inner join st_df and arrest_df
sa_df = st_df.join(arrest_df, withinMileUdf(F.col('lat'), F.col('long'), F.col('latitude'), F.col('longitude')), 'inner')\
    .drop(F.col('latitude'))\
    .drop(F.col('longitude'))\
    .na.drop(subset=["stop_name"])\
    .groupBy([F.col('id'),\
              F.col('line'),\
              F.col('stop_name'),\
              F.col('borough'),\
              F.col('lat'),\
              F.col('long'),\
              F.col('n_label'),\
              F.col('s_label'),\
              F.col('entries'),\
              F.col('exits')])\
    .count()\
    .withColumn('arrests', F.col('count'))\
    .drop(F.col('count'))

# write sa_df to file
sa_df.write.option('header', True).mode('overwrite').csv(os.path.join(intr_dir, 'sa_df.csv'))

In [22]:
# fetch saved sa_df and display top rows
sa_df = spark.read.csv(os.path.join(intr_dir, 'sa_df.csv'), header=True, inferSchema=True)
sa_df.show()

+---+-------------------+--------------------+-------+---------+----------+--------------------+--------------------+-----------------+-----------------+-------+
| id|               line|           stop_name|borough|      lat|      long|             n_label|             s_label|          entries|            exits|arrests|
+---+-------------------+--------------------+-------+---------+----------+--------------------+--------------------+-----------------+-----------------+-------+
|R11|            Astoria|  Lexington Av/59 St|      M| 40.76266|-73.967258|              Queens| Downtown & Brooklyn|4.521532580046E12|3.641397907941E12|   8669|
|R30|Broadway - Brighton|           DeKalb Av|     Bk|40.690635|-73.981824|           Manhattan|Coney Island - Ba...|1.625048003534E12|1.334749653979E12|   4079|
|R18|Broadway - Brighton|               28 St|      M|40.745494|-73.988691|     Uptown & Queens| Downtown & Brooklyn|1.385354956576E12|1.019986375028E12|   3182|
|R23|           Broadway|            Canal St|      M|40.719527|-74.001775|     Uptown & Queens| Downtown & Brooklyn|3.034008171273E12|4.004890364733E12|  10813|
| R9|            Astoria|    Queensboro Plaza|      Q|40.750582|-73.940202|  Astoria - Flushing|           Manhattan|  1.3344121878E10|  1.2211036335E10|   1937|
|R31|             4th Av|Atlantic Av-Barcl...|     Bk|40.683666| -73.97881|           Manhattan|Coney Island - Ba...| 2.70006868345E11|  1.9525218181E11|   8107|
|R25|           Broadway|        Cortlandt St|      M|40.710668|-74.011029|     Uptown & Queens| Downtown & Brooklyn| 2.05329757745E11| 1.85622741072E11|   9232|
|R16|Broadway - Brighton|      Times Sq-42 St|      M|40.754672|-73.986754|     Uptown & Queens| Downtown & Brooklyn|  7.9053401996E10|  9.4031973197E10|   9537|
| R4|            Astoria|               30 Av|      Q|40.766779|-73.921479|Astoria - Ditmars...|           Manhattan|  3.1864562633E10|  3.1061851564E10|    998|
|R32|             4th Av|            Union St|     Bk|40.677316| -73.98311|           Manhattan|   Bay Ridge - 95 St|  9.3602037094E10|  1.0880862346E11|    852|
|R41|             4th Av|               59 St|     Bk|40.641362|-74.017881|           Manhattan|Coney Island - Ba...| 2.32108548046E11|  9.8903419027E10|   2674|
|R21|Broadway - Brighton|            8 St-NYU|      M|40.730328|-73.992629|     Uptown & Queens| Downtown & Brooklyn|1.067086537847E12| 8.97730531215E11|   2320|
|R44|             4th Av|               86 St|     Bk|40.622687|-74.028398|           Manhattan|               95 St|5.043985138789E12|5.573901340127E12|   3696|
|R17|Broadway - Brighton|     34 St-Herald Sq|      M|40.749567| -73.98795|     Uptown & Queens| Downtown & Brooklyn| 2.35305257363E11|   2.204867185E11|  37062|
|R33|             4th Av|           4 Av-9 St|     Bk|40.670847|-73.988302|           Manhattan|   Bay Ridge - 95 St|3.697545906933E12|5.445914142777E12|   1167|
|R24|           Broadway|           City Hall|      M|40.713282|-74.006978|     Uptown & Queens| Downtown & Brooklyn| 2.77143996739E11|  1.3558776869E11|   1273|
|R27|           Broadway|Whitehall St-Sout...|      M|40.703087|-74.012994|     Uptown & Queens|            Brooklyn| 2.25434495098E11| 2.05860797334E11|   1777|
|R45|             4th Av|     Bay Ridge-95 St|     Bk|40.616622|-74.030876|           Manhattan|                null| 1.45718172033E11|  1.1424377247E11|    718|
|R13|            Astoria|          5 Av/59 St|      M|40.764811|-73.973347|              Queens| Downtown & Brooklyn|  9.9819375916E10| 1.70757933631E11|   2534|
|R36|             4th Av|               36 St|     Bk|40.655144|-74.003549|           Manhattan|Coney Island - Ba...|    9.851525611E9|  1.4600105563E10|   1816|
+---+-------------------+--------------------+-------+---------+----------+--------------------+--------------------+-----------------+-----------------+-------+
only showing top 20 rows

3. Combine Subway to Criminal

In [23]:
# print complaint schema
complaint_df.printSchema()

root
 |-- cmplnt_num: string (nullable = true)
 |-- loc_of_occur_desc: string (nullable = true)
 |-- cmplnt_to_dt: string (nullable = true)
 |-- cmplnt_to_tm: string (nullable = true)
 |-- latitude: double (nullable = true)
 |-- longitude: double (nullable = true)

In [24]:
# join complaints to the sa_df
sc_df = sa_df.join(complaint_df, withinMileUdf(F.col('lat'), F.col('long'), F.col('latitude'), F.col('longitude')), 'inner')\
    .drop(F.col('latitude'))\
    .drop(F.col('longitude'))\
    .na.drop(subset=["stop_name"])\
    .groupBy([F.col('id'),\
              F.col('line'),\
              F.col('stop_name'),\
              F.col('borough'),\
              F.col('lat'),\
              F.col('long'),\
              F.col('n_label'),\
              F.col('s_label'),\
              F.col('entries'),\
              F.col('exits'),\
              F.col('arrests')])\
    .count()\
    .withColumn('complaints', F.col('count'))\
    .drop(F.col('count'))

# write sa_df to file
sc_df.write.option('header', True).mode('overwrite').csv(os.path.join(intr_dir, 'sc_df.csv'))

In [26]:
# fetch saved sa_df and display top rows
sc_df = spark.read.csv(os.path.join(intr_dir, 'sc_df.csv'), header=True, inferSchema=True)
sc_df.show()

+---+-------------------+--------------------+-------+---------+----------+--------------------+--------------------+-----------------+-----------------+-------+----------+
| id|               line|           stop_name|borough|      lat|      long|             n_label|             s_label|          entries|            exits|arrests|complaints|
+---+-------------------+--------------------+-------+---------+----------+--------------------+--------------------+-----------------+-----------------+-------+----------+
|R31|             4th Av|Atlantic Av-Barcl...|     Bk|40.683666| -73.97881|           Manhattan|Coney Island - Ba...| 2.70006868345E11|  1.9525218181E11|   8107|      9760|
|R36|             4th Av|               36 St|     Bk|40.655144|-74.003549|           Manhattan|Coney Island - Ba...|    9.851525611E9|  1.4600105563E10|   1816|      1848|
|R14|Broadway - Brighton|          57 St-7 Av|      M|40.764664|-73.980658|     Uptown & Queens| Downtown & Brooklyn| 3.96133333974E12| 7.12490061939E11|   1713|      3204|
| R3|            Astoria|        Astoria Blvd|      Q|40.770258|-73.917843|        Ditmars Blvd|           Manhattan|  1.0233724436E10|    6.300884972E9|   1994|      1599|
|R41|             4th Av|               59 St|     Bk|40.641362|-74.017881|           Manhattan|Coney Island - Ba...| 2.32108548046E11|  9.8903419027E10|   2674|      3121|
| R4|            Astoria|               30 Av|      Q|40.766779|-73.921479|Astoria - Ditmars...|           Manhattan|  3.1864562633E10|  3.1061851564E10|    998|      2071|
|R45|             4th Av|     Bay Ridge-95 St|     Bk|40.616622|-74.030876|           Manhattan|                null| 1.45718172033E11|  1.1424377247E11|    718|      1908|
|R20|Broadway - Brighton|      14 St-Union Sq|      M|40.735736|-73.990568|     Uptown & Queens| Downtown & Brooklyn| 3.52359562127E11| 3.20595332347E11|  13511|     16160|
|R30|Broadway - Brighton|           DeKalb Av|     Bk|40.690635|-73.981824|           Manhattan|Coney Island - Ba...|1.625048003534E12|1.334749653979E12|   4079|      5531|
|R43|             4th Av|               77 St|     Bk|40.629742| -74.02551|           Manhattan|               95 St| 7.74701516828E11| 1.27076914353E11|    408|      1068|
|R24|           Broadway|           City Hall|      M|40.713282|-74.006978|     Uptown & Queens| Downtown & Brooklyn| 2.77143996739E11|  1.3558776869E11|   1273|      3376|
|R39|             4th Av|               45 St|     Bk|40.648939|-74.010006|           Manhattan|   Bay Ridge - 95 St|  1.0134315912E10|    1.548481925E9|   1275|      1616|
|R32|             4th Av|            Union St|     Bk|40.677316| -73.98311|           Manhattan|   Bay Ridge - 95 St|  9.3602037094E10|  1.0880862346E11|    852|      1743|
|R29|           Broadway|    Jay St-MetroTech|     Bk| 40.69218|-73.985942|           Manhattan|   Bay Ridge - 95 St| 6.20282148955E11| 4.43236158889E11|  11060|     10679|
|R34|             4th Av|         Prospect Av|     Bk|40.665414|-73.992872|           Manhattan|   Bay Ridge - 95 St|  2.4105470401E10|   2.758248849E10|    696|      1210|
|R40|             4th Av|               53 St|     Bk|40.645069|-74.014034|           Manhattan|   Bay Ridge - 95 St| 1.18343499418E11|  1.3138969255E10|   1908|      2491|
|R35|             4th Av|               25 St|     Bk|40.660397|-73.998091|           Manhattan|   Bay Ridge - 95 St| 2.19807652617E11| 1.02054874542E11|   1001|      1298|
|R16|Broadway - Brighton|      Times Sq-42 St|      M|40.754672|-73.986754|     Uptown & Queens| Downtown & Brooklyn|  7.9053401996E10|  9.4031973197E10|   9537|      7385|
|R33|             4th Av|           4 Av-9 St|     Bk|40.670847|-73.988302|           Manhattan|   Bay Ridge - 95 St|3.697545906933E12|5.445914142777E12|   1167|      1766|
|R42|             4th Av|        Bay Ridge Av|     Bk|40.634967|-74.023377|           Manhattan|               95 St|  8.1491060282E11|1.378612427778E12|   1142|      2492|
+---+-------------------+--------------------+-------+---------+----------+--------------------+--------------------+-----------------+-----------------+-------+----------+
only showing top 20 rows

4. Combine Subway to Summons

In [30]:
summons_df.printSchema()

root
 |-- jurisdiction_code: string (nullable = true)
 |-- law_description: string (nullable = true)
 |-- offense_description: string (nullable = true)
 |-- precinct_of_occur: string (nullable = true)
 |-- latitude: double (nullable = true)
 |-- longitude: double (nullable = true)

In [36]:
# join summons to the sc_df
ss_df = sc_df.join(summons_df, withinMileUdf(F.col('lat'), F.col('long'), F.col('latitude'), F.col('longitude')), 'inner')\
    .drop(F.col('latitude'))\
    .drop(F.col('longitude'))\
    .na.drop(subset=["stop_name"])\
    .groupBy([F.col('id'),\
              F.col('line'),\
              F.col('stop_name'),\
              F.col('borough'),\
              F.col('lat'),\
              F.col('long'),\
              F.col('n_label'),\
              F.col('s_label'),\
              F.col('entries'),\
              F.col('exits'),\
              F.col('arrests'),\
              F.col('complaints')])\
    .count()\
    .withColumn('summons', F.col('count'))\
    .drop(F.col('count'))

# write sa_df to file
ss_df.write.option('header', True).mode('overwrite').csv(os.path.join(intr_dir, 'ss_df.csv'))

In [37]:
# fetch saved ss_df and display top rows
ss_df = spark.read.csv(os.path.join(intr_dir, 'ss_df.csv'), header=True, inferSchema=True)
ss_df.show()

+---+-------------------+--------------------+-------+---------+----------+--------------------+--------------------+-----------------+-----------------+-------+----------+-------+
| id|               line|           stop_name|borough|      lat|      long|             n_label|             s_label|          entries|            exits|arrests|complaints|summons|
+---+-------------------+--------------------+-------+---------+----------+--------------------+--------------------+-----------------+-----------------+-------+----------+-------+
|R44|             4th Av|               86 St|     Bk|40.622687|-74.028398|           Manhattan|               95 St|5.043985138789E12|5.573901340127E12|   3696|      5504|    978|
|R42|             4th Av|        Bay Ridge Av|     Bk|40.634967|-74.023377|           Manhattan|               95 St|  8.1491060282E11|1.378612427778E12|   1142|      2492|    484|
|R45|             4th Av|     Bay Ridge-95 St|     Bk|40.616622|-74.030876|           Manhattan|                null| 1.45718172033E11|  1.1424377247E11|    718|      1908|    380|
|R13|            Astoria|          5 Av/59 St|      M|40.764811|-73.973347|              Queens| Downtown & Brooklyn|  9.9819375916E10| 1.70757933631E11|   2534|      3769|   1821|
|R14|Broadway - Brighton|          57 St-7 Av|      M|40.764664|-73.980658|     Uptown & Queens| Downtown & Brooklyn| 3.96133333974E12| 7.12490061939E11|   1713|      3204|    867|
|R27|           Broadway|Whitehall St-Sout...|      M|40.703087|-74.012994|     Uptown & Queens|            Brooklyn| 2.25434495098E11| 2.05860797334E11|   1777|      2514|    697|
| R8|            Astoria|   39 Av-Dutch Kills|      Q|40.752882|-73.932755|Astoria - Ditmars...|           Manhattan|  2.7676840763E10|  2.6753306073E10|    378|       977|    512|
|R17|Broadway - Brighton|     34 St-Herald Sq|      M|40.749567| -73.98795|     Uptown & Queens| Downtown & Brooklyn| 2.35305257363E11|   2.204867185E11|  37062|     39705|   4483|
|R28|           Broadway|            Court St|     Bk|  40.6941|-73.991777|           Manhattan|   Bay Ridge - 95 St|4.988522423362E12|2.784563621555E12|    634|      3013|    202|
|R20|Broadway - Brighton|      14 St-Union Sq|      M|40.735736|-73.990568|     Uptown & Queens| Downtown & Brooklyn| 3.52359562127E11| 3.20595332347E11|  13511|     16160|   7454|
| R9|            Astoria|    Queensboro Plaza|      Q|40.750582|-73.940202|  Astoria - Flushing|           Manhattan|  1.3344121878E10|  1.2211036335E10|   1937|      2130|   1220|
|R36|             4th Av|               36 St|     Bk|40.655144|-74.003549|           Manhattan|Coney Island - Ba...|    9.851525611E9|  1.4600105563E10|   1816|      1848|   1701|
|R29|           Broadway|    Jay St-MetroTech|     Bk| 40.69218|-73.985942|           Manhattan|   Bay Ridge - 95 St| 6.20282148955E11| 4.43236158889E11|  11060|     10679|   2118|
| R3|            Astoria|        Astoria Blvd|      Q|40.770258|-73.917843|        Ditmars Blvd|           Manhattan|  1.0233724436E10|    6.300884972E9|   1994|      1599|   1000|
|R35|             4th Av|               25 St|     Bk|40.660397|-73.998091|           Manhattan|   Bay Ridge - 95 St| 2.19807652617E11| 1.02054874542E11|   1001|      1298|    442|
| R4|            Astoria|               30 Av|      Q|40.766779|-73.921479|Astoria - Ditmars...|           Manhattan|  3.1864562633E10|  3.1061851564E10|    998|      2071|   1077|
|R32|             4th Av|            Union St|     Bk|40.677316| -73.98311|           Manhattan|   Bay Ridge - 95 St|  9.3602037094E10|  1.0880862346E11|    852|      1743|    550|
|R30|Broadway - Brighton|           DeKalb Av|     Bk|40.690635|-73.981824|           Manhattan|Coney Island - Ba...|1.625048003534E12|1.334749653979E12|   4079|      5531|   1556|
|R33|             4th Av|           4 Av-9 St|     Bk|40.670847|-73.988302|           Manhattan|   Bay Ridge - 95 St|3.697545906933E12|5.445914142777E12|   1167|      1766|    675|
|R11|            Astoria|  Lexington Av/59 St|      M| 40.76266|-73.967258|              Queens| Downtown & Brooklyn|4.521532580046E12|3.641397907941E12|   8669|      9719|   1692|
+---+-------------------+--------------------+-------+---------+----------+--------------------+--------------------+-----------------+-----------------+-------+----------+-------+
only showing top 20 rows

### Conclusion