In [1]:
# pip
# !pip install tqdm
# !pip install dask

In [2]:
# conda
# !conda install tqdm
# !conda install dask

### Importing necessary libraries

In [3]:
# configuration, worked on using python@3.10.9 
import os
import urllib
import json
from threading import Thread, Lock
from tqdm import tqdm
from pyspark.sql import SparkSession
import pyspark.sql.functions as F
from pyspark.sql.types import StringType, BooleanType
from haversine import haversine, Unit

from leafmap import leafmap
import geopandas as gpd

### Dataset links and filename

In [4]:
# data folder
data_dir = 'data'
intr_dir = 'results'

# data urls
historic_arrest_loc = { 'url': 'https://data.cityofnewyork.us/resource/8h9b-rp9u.json?$limit=15000000', 'filename': 'arrest.json' }
historic_complaint_loc = { 'url': 'https://data.cityofnewyork.us/resource/qgea-i56i.json?$limit=15000000', 'filename': 'complaint.json' }
historic_court_summons_loc = { 'url': 'https://data.cityofnewyork.us/resource/sv2w-rv3k.json?$limit=15000000', 'filename': 'summons.json' }
traffic_speed_loc = { 'url': 'https://data.cityofnewyork.us/resource/i4gi-tjb9.json?$limit=15000000', 'filename': 'speed.json' }
turnstile_loc = { 'url': 'https://data.ny.gov/resource/i55r-43gk.json?$limit=15000000', 'filename': 'turnstile.json' }
subway_loc = { 'url': 'http://web.mta.info/developers/data/nyct/subway/Stations.csv?$limit=10000', 'filename': 'subway.csv' }

### Dataset: Downloading handler

In [5]:
# download flags
downloadflag = True
redownload = False

thread_lock = Lock()

# download utils
def download_dataset_thread(loc, folder):
    with thread_lock:
        if ((not os.path.exists(os.path.join(folder, loc['filename']))) or redownload) and downloadflag:
            if os.path.isfile(os.path.join(folder, loc['filename'])):
                os.remove(os.path.join(folder, loc['filename']))
            if not os.path.exists(folder):
                os.makedirs(folder) 
            with tqdm(unit="B", unit_scale=True, desc=loc['filename'], miniters=1) as progress_bar:
                urllib.request.urlretrieve(loc['url'], os.path.join(folder, loc['filename']), lambda block_num, block_size, total_size: progress_bar.update(block_size))
            progress_bar.display()
        
def download_dataset(loc, folder):
    thread = Thread(target=download_dataset_thread, args=(loc, folder))
    thread.start()
    thread.join()

### Dataset: Downloading

In [6]:
# download datasets
for dataset in [historic_arrest_loc,
                historic_complaint_loc,
                historic_court_summons_loc,
                turnstile_loc,
                subway_loc]:
    download_dataset(dataset, data_dir)

### Creating spark session using SparkSession builder

In [7]:
# spark session initialization
spark = SparkSession.builder\
    .master("local[5]")\
    .appName("main")\
    .config("spark.sql.debug.maxToStringFields", 100)\
    .config("spark.driver.memory", '4g')\
    .config("spark.executor.instances", 5)\
    .getOrCreate()

spark

Setting default log level to "

### Initializing spark dataframes

In [8]:
# dataframes
arrest_df = spark.read.json(os.path.join(data_dir, historic_arrest_loc['filename']), multiLine=True).repartition(5)
complaint_df = spark.read.json(os.path.join(data_dir, historic_complaint_loc['filename']), multiLine=True).repartition(5)
summons_df = spark.read.json(os.path.join(data_dir, historic_court_summons_loc['filename']), multiLine=True).repartition(5)
turnstile_df = spark.read.json(os.path.join(data_dir, turnstile_loc['filename']), multiLine=True).repartition(5)
raw_lookup_df = spark.read.option('header', True).option('inferSchema', True).csv(os.path.join('remote_complex_lookup.csv')).repartition(5)
raw_subway_df = spark.read.option('header', True).option('inferSchema', True).csv(os.path.join(data_dir, subway_loc['filename'])).repartition(5)

### UDFs

In [9]:
# haversine distance comparison udf
def withinMile(slat, slong, dlat, dlong):
    srs = (slat, slong)
    dst = (dlat, dlong)
    distance = float(haversine(srs, dst,unit=Unit.MILES))
    return bool(distance < 0.1)
    
withinMileUdf = F.udf(withinMile, BooleanType())

### Dataset Pre-processing

#### 1. Subway and Lookup cleaning and filtering

In [10]:
raw_subway_df.printSchema()

root
 |-- Station ID: integer (nullable = true)
 |-- Complex ID: integer (nullable = true)
 |-- GTFS Stop ID: string (nullable = true)
 |-- Division: string (nullable = true)
 |-- Line: string (nullable = true)
 |-- Stop Name: string (nullable = true)
 |-- Borough: string (nullable = true)
 |-- Daytime Routes: string (nullable = true)
 |-- Structure: string (nullable = true)
 |-- GTFS Latitude: double (nullable = true)
 |-- GTFS Longitude: double (nullable = true)
 |-- North Direction Label: string (nullable = true)
 |-- South Direction Label: string (nullable = true)
 |-- ADA: integer (nullable = true)
 |-- ADA Direction Notes: string (nullable = true)
 |-- ADA NB: integer (nullable = true)
 |-- ADA SB: integer (nullable = true)
 |-- Capital Outage NB: string (nullable = true)
 |-- Capital Outage SB: string (nullable = true)

In [11]:
lookup_df = raw_lookup_df.select(F.col('remote ').alias('unit'), F.col('complex_id')).dropDuplicates(['unit', 'complex_id'])

In [12]:
subway_df = raw_subway_df.join(lookup_df, F.col('Complex ID') == F.col('complex_id'), 'inner').dropDuplicates(['unit'])

In [13]:
subway_df.printSchema()

root
 |-- Station ID: integer (nullable = true)
 |-- Complex ID: integer (nullable = true)
 |-- GTFS Stop ID: string (nullable = true)
 |-- Division: string (nullable = true)
 |-- Line: string (nullable = true)
 |-- Stop Name: string (nullable = true)
 |-- Borough: string (nullable = true)
 |-- Daytime Routes: string (nullable = true)
 |-- Structure: string (nullable = true)
 |-- GTFS Latitude: double (nullable = true)
 |-- GTFS Longitude: double (nullable = true)
 |-- North Direction Label: string (nullable = true)
 |-- South Direction Label: string (nullable = true)
 |-- ADA: integer (nullable = true)
 |-- ADA Direction Notes: string (nullable = true)
 |-- ADA NB: integer (nullable = true)
 |-- ADA SB: integer (nullable = true)
 |-- Capital Outage NB: string (nullable = true)
 |-- Capital Outage SB: string (nullable = true)
 |-- unit: string (nullable = true)
 |-- complex_id: integer (nullable = true)

#### 2. Arrest dataset cleaning

In [14]:
# preprocess arrest data
arrest_df = arrest_df.select("arrest_boro","arrest_date", "arrest_key", "latitude", "longitude", )\
    .filter(F.col('latitude').isNotNull()\
        & F.col('longitude').isNotNull())\
    .withColumn("longitude", F.col("longitude").cast("double"))\
    .withColumn("latitude", F.col("latitude").cast("double"))
arrest_df.show()

+-----------+--------------------+----------+------------------+------------------+
|arrest_boro|         arrest_date|arrest_key|          latitude|         longitude|
+-----------+--------------------+----------+------------------+------------------+
|          B|2010-03-12T00:00:...|  71730512| 40.82095486800005|-73.85801740899994|
|          M|2009-06-03T00:00:...|  62411068|40.863003221000035|-73.92425384299997|
|          B|2007-12-29T00:00:...|  37340060|40.867263716000025|-73.89685776699997|
|          K|2014-08-29T00:00:...| 138453053| 40.68746505200004|     -73.952855937|
|          K|2009-05-21T00:00:...|  61995801| 40.69395702200006|-73.91183165399997|
|          B|2012-05-30T00:00:...|  85006006|40.831974874000025|-73.89669204099994|
|          M|2016-08-27T00:00:...| 156196665| 40.81021769500006|-73.93949694199993|
|          Q|2016-03-11T00:00:...| 151134432| 40.70010913700002|-73.82421171499993|
|          M|2013-08-07T00:00:...|  92014453| 40.70578749500004|-74.00838356999998|
|          K|2007-10-25T00:00:...|  35286352| 40.67368625000006|-73.86575729099997|
|          B|2016-07-14T00:00:...| 154856315| 40.86170890900007|-73.89138208599996|
|          B|2015-08-14T00:00:...| 145333163| 40.85999649200004|-73.90408122399998|
|          S|2012-11-08T00:00:...|  87603015| 40.62384888900005|-74.08197985899994|
|          M|2008-02-09T00:00:...|  39013090| 40.74298079600004|-73.98323505999997|
|          Q|2018-01-19T00:00:...| 173818792|40.580403286000035|-73.83153598499997|
|          Q|2009-01-24T00:00:...|  55978379| 40.76142101200002|-73.88453904299998|
|          K|2008-08-05T00:00:...|  49836502| 40.64555467100007|-73.95909079399996|
|          M|2010-07-14T00:00:...|  73677202| 40.71236665600002|-74.00888578799999|
|          B|2014-09-27T00:00:...| 138893716|40.874984151000035|-73.87945670399995|
|          M|2016-01-21T00:00:...| 149596931|40.798293080000064|-73.94186988299998|
+-----------+--------------------+----------+------------------+------------------+
only showing top 20 rows

#### 3. Complaint dataset cleaning

In [15]:
# preprocess complaint data
complaint_df = complaint_df.select("cmplnt_num","loc_of_occur_desc", "cmplnt_to_dt", "cmplnt_to_tm", "latitude", "longitude", )\
    .filter(F.col('latitude').isNotNull()\
        & F.col('longitude').isNotNull())\
    .withColumn("longitude", F.col("longitude").cast("double"))\
    .withColumn("latitude", F.col("latitude").cast("double"))
complaint_df.show()

+----------+-----------------+--------------------+------------+------------------+------------------+
|cmplnt_num|loc_of_occur_desc|        cmplnt_to_dt|cmplnt_to_tm|          latitude|         longitude|
+----------+-----------------+--------------------+------------+------------------+------------------+
| 870010794|             null|2020-03-06T00:00:...|    01:00:00| 40.68900458000007|-73.78580605399996|
| 532313042|         FRONT OF|2020-02-17T00:00:...|    20:36:00| 40.71224785000004|-73.76903757999997|
| 106900823|           INSIDE|2006-02-12T00:00:...|    17:50:00|      40.699166247|     -73.792066606|
| 408535776|           INSIDE|2006-04-11T00:00:...|    10:56:00|      40.680332821|     -73.905972878|
| 583339129|             null|                null|        null|      40.688378278|      -73.94491166|
| 562935534|         FRONT OF|2017-05-27T00:00:...|    21:30:00|        40.8551677|      -73.88790442|
| 800736634|             null|2014-01-03T00:00:...|    20:00:00|      40.678830561|     -73.866269707|
| 470753868|             null|                null|        null|      40.876190434|     -73.854449784|
| 361625002|         FRONT OF|                null|        null|      40.805504347|     -73.916477252|
| 651315379|         FRONT OF|2011-09-04T00:00:...|    01:00:00|      40.760191234|     -73.963319557|
| 739557542|         FRONT OF|2020-10-08T00:00:...|    12:30:00|40.739695320000074|     -73.922712414|
| 548929667|           INSIDE|2017-05-11T00:00:...|    02:00:00|      40.676314308|     -74.005935557|
| 116374885|             null|2007-05-14T00:00:...|    07:45:00|      40.883382579|     -73.902333309|
| 478139136|           INSIDE|2014-07-31T00:00:...|    16:46:00|      40.683241525|     -73.873652239|
| 433296153|             null|2006-07-01T00:00:...|    21:25:00|      40.832616561|     -73.857515523|
| 224112470|           INSIDE|2008-03-26T00:00:...|    19:50:00|      40.844921957|     -73.829789053|
| 809840381|           INSIDE|                null|        null| 40.75771167700003|-73.98202575399995|
| 947823506|           INSIDE|2017-04-30T00:00:...|    12:50:00|      40.867233937|     -73.820891974|
| 221705377|         FRONT OF|                null|        null|      40.799645073|     -73.945104921|
| 814051320|             null|2012-05-09T00:00:...|    15:36:00|      40.735417541|     -73.975143389|
+----------+-----------------+--------------------+------------+------------------+------------------+
only showing top 20 rows

#### 4. Summons dataset cleaning

In [16]:
# preprocess summons data
summons_df = summons_df.select("jurisdiction_code","law_description", "offense_description", "precinct_of_occur", "latitude", "longitude", )\
    .filter(F.col('latitude').isNotNull()\
        & F.col('longitude').isNotNull())\
    .withColumn("longitude", F.col("longitude").cast("double"))\
    .withColumn("latitude", F.col("latitude").cast("double"))
summons_df.show()

+-----------------+-------------------+--------------------+-----------------+------------------+------------------+
|jurisdiction_code|    law_description| offense_description|precinct_of_occur|          latitude|         longitude|
+-----------------+-------------------+--------------------+-----------------+------------------+------------------+
|                0|Administrative Code|VEND:RESTRICTIONS...|              109|40.757105780000074|-73.82896307099996|
|                0|Administrative Code|  VENDOR: UNLICENSED|               94| 40.71812038400003|-73.95743012599996|
|                0|Administrative Code|  VENDOR: UNLICENSED|               94| 40.71812038400003|-73.95743012599996|
|                0|Administrative Code|  VENDOR: UNLICENSED|               94| 40.71812038400003|-73.95743012599996|
|                0|Administrative Code|  VENDOR: UNLICENSED|               94| 40.71812038400003|-73.95743012599996|
|                0|Administrative Code|  VENDOR: UNLICENSED|               94| 40.71812038400003|-73.95743012599996|
|                0|                ABC|   UNDERAGE DRINKING|               70| 40.63224054700004|-73.94762406299998|
|                0|          Penal Law|DISCON: REFUSE LA...|               25| 40.80337107400004|-73.93711198499993|
|                0|Administrative Code|CONSUMPTION OF AL...|              106| 40.67979643700004|-73.85255656799995|
|                0|        Health Code| URINATING IN PUBLIC|              104|40.701955336000026|-73.90500467599996|
|                0|          Penal Law|  DISORDERLY CONDUCT|               48| 40.83920982000007|     -73.876988107|
|                0|          Penal Law|  DISORDERLY CONDUCT|               48| 40.83920982000007|     -73.876988107|
|                0|          Penal Law|  DISORDERLY CONDUCT|               48| 40.83920982000007|     -73.876988107|
|                0|          Penal Law|  DISORDERLY CONDUCT|               48| 40.83920982000007|     -73.876988107|
|                0|Administrative Code|CONSUMPTION OF AL...|              121| 40.63638702700007|-74.13452725899998|
|                0|Administrative Code|CONSUMPTION OF AL...|              121| 40.63638702700007|-74.13452725899998|
|                0|Administrative Code|CONSUMPTION OF AL...|              121| 40.63638702700007|-74.13452725899998|
|                0|Administrative Code|CONSUMPTION OF AL...|              121| 40.63638702700007|-74.13452725899998|
|                0|Administrative Code|CONSUMPTION OF AL...|              121| 40.63638702700007|-74.13452725899998|
|                0|Administrative Code|CONSUMPTION OF AL...|              121| 40.63638702700007|-74.13452725899998|
+-----------------+-------------------+--------------------+-----------------+------------------+------------------+
only showing top 20 rows

### Dataset: Consolidating

1. Combine Subway to Turnstile

In [17]:
# filter and group turnstile dataset
gt_df = turnstile_df.groupBy(F.col('unit'))\
    .agg({ 'entries': 'sum', 'exits': 'sum'})\
        .select(F.col('unit'),\
            F.col('sum(entries)').alias('entries'),\
            F.col('sum(exits)').alias('exits'))
gt_df.show()

+----+-----------------+-----------------+
|unit|          entries|            exits|
+----+-----------------+-----------------+
|R159|  9.7658670459E10|  3.6752142042E10|
|R143| 6.16250900125E11| 7.75773326471E11|
|R469|  1.0314052482E10|     9.79342886E8|
|R167|  1.6874102816E11| 1.96763060056E11|
|R100|  3.8355082149E10|  4.2813609167E10|
|R177| 2.21718982614E11| 1.91598461153E11|
|R290|  7.7285465068E10|  9.9919615555E10|
|R082|  4.0183520438E10|  5.4452586495E10|
|R384|   2.283725805E10|  2.2146211814E10|
|R432|  1.5507768821E10|    7.016570014E9|
|R541|  2.0813861412E10|  1.6886431668E10|
|R046| 4.16017591248E11| 2.68429971561E11|
|R412|    9.997534418E9|     3.88309983E9|
|R018|1.385354956576E12|1.019986375028E12|
|R430|    9.052436119E9|   1.126470821E10|
|R294|  4.0256229752E10|  2.4555010956E10|
|R329|  1.1117120569E10|    5.684716085E9|
|R431|1.094341262102E12|1.096776281978E12|
|R125|  3.7882386986E10|  2.4059386949E10|
|R462| 3.48375809509E11| 3.96053270441E11|
+----+-----------------+-----------------+
only showing top 20 rows

In [18]:
# combine the total exits and entries for each station
st_df = subway_df.join(gt_df, on='unit', how='inner')\
    .select(F.col('GTFS Stop ID').alias('id'),\
        F.col('Line').alias('line'),\
        F.col('Stop Name').alias('stop_name'),\
        F.col('Borough').alias('borough'),\
        F.col('GTFS Latitude').alias('lat'),\
        F.col('GTFS Longitude').alias('long'),\
        F.col('North Direction Label').alias('n_label'),\
        F.col('South Direction Label').alias('s_label'),\
        F.col('entries'),\
        F.col('exits'))

st_df.write.option('header', True).mode('overwrite').csv(os.path.join(intr_dir, 'st_df.csv'))

In [19]:
# get st_df from file
st_df = spark.read.csv(os.path.join(intr_dir, 'st_df.csv'), header=True, inferSchema=True)
st_df.show()

+---+-------------------+--------------------+-------+---------+----------+--------------------+--------------------+-----------------+-----------------+
| id|               line|           stop_name|borough|      lat|      long|             n_label|             s_label|          entries|            exits|
+---+-------------------+--------------------+-------+---------+----------+--------------------+--------------------+-----------------+-----------------+
|117|     Broadway - 7Av|116 St-Columbia U...|      M|40.807722| -73.96411|  Uptown & The Bronx|            Downtown|  9.7658670459E10|  3.6752142042E10|
|633|       Lexington Av|               28 St|      M| 40.74307|-73.984264|  Uptown & The Bronx|            Downtown| 6.16250900125E11| 7.75773326471E11|
|121|     Broadway - 7Av|               86 St|      M|40.788644|-73.976218|  Uptown & The Bronx|            Downtown|  1.6874102816E11| 1.96763060056E11|
|M01|          Myrtle Av|Middle Village-Me...|      Q|40.711396|-73.889601|           Manhattan|                null|  3.8355082149E10|  4.2813609167E10|
|628|       Lexington Av|68 St-Hunter College|      M|40.768141| -73.96387|  Uptown & The Bronx|            Downtown| 2.21718982614E11| 1.91598461153E11|
|134|     Broadway - 7Av|          Houston St|      M|40.728251|-74.005367|  Uptown & The Bronx|            Downtown|  7.7285465068E10|  9.9919615555E10|
|R18|Broadway - Brighton|               28 St|      M|40.745494|-73.988691|     Uptown & Queens| Downtown & Brooklyn|  4.0183520438E10|  5.4452586495E10|
|A60|         Liberty Av|               88 St|      Q|40.679843| -73.85147|           Manhattan|Lefferts - Rockaways|   2.283725805E10|  2.2146211814E10|
|J28|            Jamaica|         Chauncey St|     Bk|40.682893|-73.910456|             Jamaica|           Manhattan|  1.5507768821E10|    7.016570014E9|
|631|       Lexington Av| Grand Central-42 St|      M|40.751776|-73.976848|  Uptown & The Bronx| Downtown & Brooklyn| 4.16017591248E11| 2.68429971561E11|
|S04|   Franklin Shuttle|      Botanic Garden|     Bk|40.670343|-73.959245|         Franklin Av|       Prospect Park|    9.997534418E9|     3.88309983E9|
|G14|        Queens Blvd|Jackson Hts-Roose...|      Q|40.746644|-73.891338|Forest Hills - Ja...|           Manhattan|1.385354956576E12|1.019986375028E12|
|504|            Dyre Av|         Pelham Pkwy|     Bx|40.858985|-73.855359|Eastchester - Dyr...|           Manhattan|    9.052436119E9|   1.126470821E10|
|L14|           Canarsie|           Morgan Av|     Bk|40.706152|-73.933147|           Manhattan|Canarsie - Rockaw...|  4.0256229752E10|  2.4555010956E10|
|505|            Dyre Av|         Morris Park|     Bx|40.854364|-73.860495|Eastchester - Dyr...|           Manhattan|  1.1117120569E10|    5.684716085E9|
|501|            Dyre Av| Eastchester-Dyre Av|     Bx|  40.8883|-73.830834|                null|           Manhattan|1.094341262102E12|1.096776281978E12|
|M23|            Jamaica|            Broad St|      M|40.706476|-74.011056|            Brooklyn|                null|  3.7882386986E10|  2.4059386949E10|
|639|       Lexington Av|            Canal St|      M|40.718803|-74.000193|  Uptown & The Bronx|            Downtown| 3.48375809509E11| 3.96053270441E11|
|G33|          Crosstown|Bedford-Nostrand Avs|     Bk|40.689627|-73.953522|              Queens|           Church Av| 2.04982531768E11|  3.1811091975E10|
|B20|           West End|               20 Av|     Bk|40.604556|-73.998168|           Manhattan|        Coney Island|  2.6016886112E10|  2.7633803385E10|
+---+-------------------+--------------------+-------+---------+----------+--------------------+--------------------+-----------------+-----------------+
only showing top 20 rows

2. Combine Subway to Arrest

In [21]:
# print arrest schema
arrest_df.printSchema()

root
 |-- arrest_boro: string (nullable = true)
 |-- arrest_date: string (nullable = true)
 |-- arrest_key: string (nullable = true)
 |-- latitude: double (nullable = true)
 |-- longitude: double (nullable = true)

In [22]:
# perform inner join st_df and arrest_df
sa_df = st_df.join(arrest_df, withinMileUdf(F.col('lat'), F.col('long'), F.col('latitude'), F.col('longitude')), 'inner')\
    .drop(F.col('latitude'))\
    .drop(F.col('longitude'))\
    .na.drop(subset=["stop_name"])\
    .groupBy([F.col('id'),\
              F.col('line'),\
              F.col('stop_name'),\
              F.col('borough'),\
              F.col('lat'),\
              F.col('long'),\
              F.col('n_label'),\
              F.col('s_label'),\
              F.col('entries'),\
              F.col('exits')])\
    .count()\
    .withColumn('arrests', F.col('count'))\
    .drop(F.col('count'))

# write sa_df to file
sa_df.write.option('header', True).mode('overwrite').csv(os.path.join(intr_dir, 'sa_df.csv'))

In [23]:
# fetch saved sa_df and display top rows
sa_df = spark.read.csv(os.path.join(intr_dir, 'sa_df.csv'), header=True, inferSchema=True)
sa_df.show()

+---+-------------------+--------------------+-------+---------+----------+--------------------+--------------------+-----------------+----------------+-------+
| id|               line|           stop_name|borough|      lat|      long|             n_label|             s_label|          entries|           exits|arrests|
+---+-------------------+--------------------+-------+---------+----------+--------------------+--------------------+-----------------+----------------+-------+
|A28| 8th Av - Fulton St|  34 St-Penn Station|      M|40.752287|-73.993391|     Uptown - Queens| Downtown & Brooklyn|1.246297471441E12|4.94987479787E11|  22090|
|725|           Flushing|      Times Sq-42 St|      M|40.755477|-73.987691|              Queens|34 St - Hudson Yards| 4.94357936177E11|1.84005946083E11|  11199|
|D13|          Concourse|              145 St|      M|40.824783|-73.944216|  Uptown & The Bronx| Downtown & Brooklyn| 1.86300028625E11|1.86449494891E11|   6721|
|136|     Broadway - 7Av|         Franklin St|      M|40.719318|-74.006886|  Uptown & The Bronx|            Downtown|  3.8166152489E10| 2.5090306735E10|   8498|
|M09|          Myrtle Av|    Knickerbocker Av|     Bk|40.698664|-73.919711|           Manhattan|     Metropolitan Av|  1.3337599288E10| 1.1978250361E10|   2733|
|237|        Eastern Pky|    Grand Army Plaza|     Bk|40.675235|-73.971046|           Manhattan| Flatbush - New Lots|  3.6081885157E10| 2.2023644036E10|    492|
|F22|    6th Av - Culver|         Smith-9 Sts|     Bk| 40.67358|-73.995959|  Manhattan - Queens|Church Av - Coney...|  1.8071600309E10| 1.3422838876E10|    102|
|F02|        Queens Blvd|              169 St|      Q| 40.71047|-73.793604|              179 St|           Manhattan|  4.0383561381E10| 4.6616246622E10|   2291|
|255|        Eastern Pky|     Pennsylvania Av|     Bk|40.664635|-73.894895|           Manhattan|            New Lots|  5.0377566117E10| 1.9407416968E10|   3069|
|411|          Jerome Av|          Mt Eden Av|     Bx|40.844434|-73.914685|            Woodlawn|           Manhattan|  2.1803950077E10| 1.6100927498E10|   3398|
|R18|Broadway - Brighton|               28 St|      M|40.745494|-73.988691|     Uptown & Queens| Downtown & Brooklyn|  4.0183520438E10| 5.4452586495E10|   3182|
|104|     Broadway - 7Av|              231 St|     Bx|40.878856|-73.904834|              242 St|           Manhattan| 1.18343499418E11| 1.3138969255E10|   1570|
|637|       Lexington Av|         Bleecker St|      M|40.725915|-73.994659|  Uptown & The Bronx|            Downtown| 1.96565180833E11|1.53466659135E11|   3444|
|D15|    6th Av - Culver|47-50 Sts-Rockefe...|      M|40.758663|-73.981329|Uptown & The Bron...| Downtown & Brooklyn| 3.52359562127E11|3.20595332347E11|   2684|
|D11|          Concourse|161 St-Yankee Sta...|     Bx|40.827905|-73.925651|Bedford Pk Blvd &...|           Manhattan| 1.27361641796E11|1.00014347957E11|  11088|
|409|          Jerome Av|         Burnside Av|     Bx|40.853453|-73.907684|            Woodlawn|           Manhattan|  2.2801965066E10| 1.9314917366E10|   6419|
|405|          Jerome Av|Bedford Park Blvd...|     Bx|40.873412|-73.890064|            Woodlawn|           Manhattan|   1.645167699E10| 3.2114541645E10|    141|
|101|     Broadway - 7Av|Van Cortlandt Par...|     Bx|40.889248|-73.898583|                null|           Manhattan|  3.7649385873E10| 1.2984410527E10|    655|
|F29|    6th Av - Culver|           Ditmas Av|     Bk|40.636119|-73.978172|           Manhattan|        Coney Island|   1.517966457E10| 1.3461030546E10|    417|
|622|       Lexington Av|              116 St|      M|40.798629|-73.941617|  Uptown & The Bronx|            Downtown|  9.3351856768E10| 7.1960825235E10|  11844|
+---+-------------------+--------------------+-------+---------+----------+--------------------+--------------------+-----------------+----------------+-------+
only showing top 20 rows

3. Combine Subway to Criminal

In [24]:
# print complaint schema
complaint_df.printSchema()

root
 |-- cmplnt_num: string (nullable = true)
 |-- loc_of_occur_desc: string (nullable = true)
 |-- cmplnt_to_dt: string (nullable = true)
 |-- cmplnt_to_tm: string (nullable = true)
 |-- latitude: double (nullable = true)
 |-- longitude: double (nullable = true)

In [25]:
# join complaints to the sa_df
sc_df = sa_df.join(complaint_df, withinMileUdf(F.col('lat'), F.col('long'), F.col('latitude'), F.col('longitude')), 'inner')\
    .drop(F.col('latitude'))\
    .drop(F.col('longitude'))\
    .na.drop(subset=["stop_name"])\
    .groupBy([F.col('id'),\
              F.col('line'),\
              F.col('stop_name'),\
              F.col('borough'),\
              F.col('lat'),\
              F.col('long'),\
              F.col('n_label'),\
              F.col('s_label'),\
              F.col('entries'),\
              F.col('exits'),\
              F.col('arrests')])\
    .count()\
    .withColumn('complaints', F.col('count'))\
    .drop(F.col('count'))

# write sa_df to file
sc_df.write.option('header', True).mode('overwrite').csv(os.path.join(intr_dir, 'sc_df.csv'))

In [26]:
# fetch saved sa_df and display top rows
sc_df = spark.read.csv(os.path.join(intr_dir, 'sc_df.csv'), header=True, inferSchema=True)
sc_df.show()

+---+--------------------+--------------------+-------+---------+----------+--------------------+--------------------+-----------------+-----------------+-------+----------+
| id|                line|           stop_name|borough|      lat|      long|             n_label|             s_label|          entries|            exits|arrests|complaints|
+---+--------------------+--------------------+-------+---------+----------+--------------------+--------------------+-----------------+-----------------+-------+----------+
|G13|         Queens Blvd|         Elmhurst Av|      Q|40.742454|-73.882017|        Forest Hills|           Manhattan| 6.65829665657E11|1.384726586825E12|   1651|      1954|
|R41|              4th Av|               59 St|     Bk|40.641362|-74.017881|           Manhattan|Coney Island - Ba...|  8.2568001773E10|  6.6395366214E10|   2674|      3121|
|129|      Broadway - 7Av|               28 St|      M|40.747215|-73.993365|  Uptown & The Bronx|            Downtown|  4.8326884814E10| 7.41157201349E11|   2188|      5794|
|603|              Pelham|       Middletown Rd|     Bx|40.843863|-73.836322|     Pelham Bay Park|           Manhattan|  1.6027568106E10|    9.955781892E9|    442|      1094|
|R26|            Broadway|           Rector St|      M| 40.70722|-74.013342|     Uptown & Queens| Downtown & Brooklyn|   4.881906061E10|  3.0005763008E10|    896|      2641|
|639|        Lexington Av|            Canal St|      M|40.718803|-74.000193|  Uptown & The Bronx|            Downtown| 3.48375809509E11| 3.96053270441E11|  10095|      8706|
|718|            Flushing|    Queensboro Plaza|      Q|40.750582|-73.940202|  Astoria - Flushing|           Manhattan|  6.4127104874E10|   2.386918433E10|   1937|      2130|
|712|            Flushing|      Woodside-61 St|      Q| 40.74563|-73.902984|            Flushing|           Manhattan| 1.00546518973E11|   9.209996421E10|    963|      2012|
|235|         Eastern Pky|Atlantic Av-Barcl...|     Bk|40.684359|-73.977666|           Manhattan| Flatbush - New Lots|2.968706005825E12|3.482492391943E12|   7944|      9405|
|A06|  8th Av - Fulton St|              181 St|      M|40.851695|-73.937969|              207 St| Downtown & Brooklyn|   9.283133949E10|   7.831462441E10|   1275|      2180|
|A64|          Liberty Av|              111 St|      Q|40.684331|-73.832163|           Manhattan|       Lefferts Blvd|  1.5021289845E10|   1.006112624E10|    681|      1539|
|F29|     6th Av - Culver|           Ditmas Av|     Bk|40.636119|-73.978172|           Manhattan|        Coney Island|   1.517966457E10|  1.3461030546E10|    417|       945|
|D08|           Concourse|         174-175 Sts|     Bx|  40.8459|-73.910136|Bedford Pk Blvd &...|           Manhattan|  2.4405278882E10|  1.9471370196E10|   4337|      4644|
|G35|           Crosstown|Clinton-Washingto...|     Bk|40.688089|-73.966839|              Queens|           Church Av|  3.5610363857E10|    8.307576243E9|    510|      1343|
|M22|             Jamaica|           Fulton St|      M|40.710374|-74.007582|            Brooklyn|            Broad St| 3.96133333974E12| 7.12490061939E11|   1957|      4775|
|R45|              4th Av|     Bay Ridge-95 St|     Bk|40.616622|-74.030876|           Manhattan|                null| 5.73184034882E11|  3.2220541569E10|    718|      1908|
|221|Lenox - White Pla...|         3 Av-149 St|     Bx|40.816109|-73.917757|Wakefield - Eastc...|           Manhattan|  9.4687425153E10|  6.9944004179E10|  15019|     10983|
|633|        Lexington Av|               28 St|      M| 40.74307|-73.984264|  Uptown & The Bronx|            Downtown| 6.16250900125E11| 7.75773326471E11|   4743|      3804|
|A05|  8th Av - Fulton St|              190 St|      M|40.859022| -73.93418|              207 St| Downtown & Brooklyn|  3.1990684653E10|  1.9090459102E10|    313|       720|
|621|        Lexington Av|              125 St|      M|40.804138|-73.937594|           The Bronx| Downtown & Brooklyn|1.173632367167E12| 5.38978538693E11|  28673|     18162|
+---+--------------------+--------------------+-------+---------+----------+--------------------+--------------------+-----------------+-----------------+-------+----------+
only showing top 20 rows

4. Combine Subway to Summons

In [27]:
summons_df.printSchema()

root
 |-- jurisdiction_code: string (nullable = true)
 |-- law_description: string (nullable = true)
 |-- offense_description: string (nullable = true)
 |-- precinct_of_occur: string (nullable = true)
 |-- latitude: double (nullable = true)
 |-- longitude: double (nullable = true)

In [28]:
# join summons to the sc_df
ss_df = sc_df.join(summons_df, withinMileUdf(F.col('lat'), F.col('long'), F.col('latitude'), F.col('longitude')), 'inner')\
    .drop(F.col('latitude'))\
    .drop(F.col('longitude'))\
    .na.drop(subset=["stop_name"])\
    .groupBy([F.col('id'),\
              F.col('line'),\
              F.col('stop_name'),\
              F.col('borough'),\
              F.col('lat'),\
              F.col('long'),\
              F.col('n_label'),\
              F.col('s_label'),\
              F.col('entries'),\
              F.col('exits'),\
              F.col('arrests'),\
              F.col('complaints')])\
    .count()\
    .withColumn('summons', F.col('count'))\
    .drop(F.col('count'))

# write sa_df to file
ss_df.write.option('header', True).mode('overwrite').csv(os.path.join(intr_dir, 'ss_df.csv'))

In [29]:
# fetch saved ss_df and display top rows
ss_df = spark.read.csv(os.path.join(intr_dir, 'ss_df.csv'), header=True, inferSchema=True)
ss_df.show()

+---+-------------------+--------------------+-------+---------+----------+------------------+--------------------+-----------------+-----------------+-------+----------+-------+
| id|               line|           stop_name|borough|      lat|      long|           n_label|             s_label|          entries|            exits|arrests|complaints|summons|
+---+-------------------+--------------------+-------+---------+----------+------------------+--------------------+-----------------+-----------------+-------+----------+-------+
|F12|        Queens Blvd|          5 Av/53 St|      M|40.760167|-73.975224|            Queens| Downtown & Brooklyn| 1.71540057484E11| 1.83989511603E11|   1811|      3603|   1056|
|637|       Lexington Av|         Bleecker St|      M|40.725915|-73.994659|Uptown & The Bronx|            Downtown| 1.96565180833E11| 1.53466659135E11|   3444|      5079|   1046|
|603|             Pelham|       Middletown Rd|     Bx|40.843863|-73.836322|   Pelham Bay Park|           Manhattan|  1.6027568106E10|    9.955781892E9|    442|      1094|    842|
|725|           Flushing|      Times Sq-42 St|      M|40.755477|-73.987691|            Queens|34 St - Hudson Yards| 4.94357936177E11| 1.84005946083E11|  11199|     12406|  14342|
|606|             Pelham|           Zerega Av|     Bx|40.836488|-73.847036|   Pelham Bay Park|           Manhattan|    9.471627557E9|    5.313407168E9|    649|      1661|    996|
|H12|           Rockaway|         Beach 90 St|      Q|40.588034|-73.813641|         Manhattan|       Rockaway Park|    9.282437234E9|  1.0399036521E10|   1223|      1715|    858|
|R45|             4th Av|     Bay Ridge-95 St|     Bk|40.616622|-74.030876|         Manhattan|                null| 5.73184034882E11|  3.2220541569E10|    718|      1908|    380|
|D40|Broadway - Brighton|      Brighton Beach|     Bk|40.577621|-73.961376|         Manhattan|        Coney Island|  1.3421971921E11| 1.29853126782E11|   2258|      3553|   1629|
|R41|             4th Av|               59 St|     Bk|40.641362|-74.017881|         Manhattan|Coney Island - Ba...|  8.2568001773E10|  6.6395366214E10|   2674|      3121|   2027|
|N03|          Sea Beach|  Fort Hamilton Pkwy|     Bk|40.631386|-74.005351|         Manhattan|        Coney Island|  2.2170524548E10|  1.4520606962E10|    306|       751|    360|
|G22|          Crosstown|            Court Sq|      Q|40.746554|-73.943832|              null|            Brooklyn| 4.82716797127E11|  3.5964369312E10|    253|       871|    210|
|G32|          Crosstown|Myrtle-Willoughby...|     Bk|40.694568|-73.949046|            Queens|           Church Av|   3.465443354E10|  2.3964479413E10|   2759|      2986|   4967|
|A28| 8th Av - Fulton St|  34 St-Penn Station|      M|40.752287|-73.993391|   Uptown - Queens| Downtown & Brooklyn|  9.9819375916E10| 1.70757933631E11|  22090|     12041|   5343|
|D18|    6th Av - Culver|               23 St|      M|40.742878|-73.992821|   Uptown & Queens| Downtown & Brooklyn|4.317803557209E12|4.534623614847E12|   2968|      5979|   2197|
|R11|            Astoria|  Lexington Av/59 St|      M| 40.76266|-73.967258|            Queens| Downtown & Brooklyn| 2.57105386954E11| 2.08594554314E11|   8669|      9719|   1692|
|711|           Flushing|               69 St|      Q|40.746325|-73.896403|          Flushing|           Manhattan|  6.5598906739E10|  5.0763211111E10|   1583|      1704|   2171|
|A33| 8th Av - Fulton St|           Spring St|      M|40.726227|-74.003739|   Uptown - Queens| Downtown & Brooklyn| 4.66642894831E11| 1.19900802984E11|    740|      2196|    667|
|A52| 8th Av - Fulton St|          Liberty Av|     Bk|40.674542|-73.896548|         Manhattan|           Euclid Av|  1.8620626053E10|   1.100283281E10|   2081|      2181|   2418|
|J28|            Jamaica|         Chauncey St|     Bk|40.682893|-73.910456|           Jamaica|           Manhattan|  1.5507768821E10|    7.016570014E9|   3586|      2896|   1820|
|L06|           Canarsie|                1 Av|      M|40.730953|-73.981628|              8 Av|            Brooklyn|  8.2099544596E10|  1.1128450234E11|   2515|      3658|   1300|
+---+-------------------+--------------------+-------+---------+----------+------------------+--------------------+-----------------+-----------------+-------+----------+-------+
only showing top 20 rows

### Conclusion

In [30]:
ss_df.toPandas().head()

,id,line,stop_name,borough,lat,long,n_label,s_label,entries,exits,arrests,complaints,summons
0,F12,Queens Blvd,5 Av/53 St,M,40.760167,-73.975224,Queens,Downtown & Brooklyn,1.715401e+11,1.839895e+11,1811,3603,1056
1,637,Lexington Av,Bleecker St,M,40.725915,-73.994659,Uptown & The Bronx,Downtown,1.965652e+11,1.534667e+11,3444,5079,1046
2,603,Pelham,Middletown Rd,Bx,40.843863,-73.836322,Pelham Bay Park,Manhattan,1.602757e+10,9.955782e+09,442,1094,842
3,725,Flushing,Times Sq-42 St,M,40.755477,-73.987691,Queens,34 St - Hudson Yards,4.943579e+11,1.840059e+11,11199,12406,14342
4,606,Pelham,Zerega Av,Bx,40.836488,-73.847036,Pelham Bay Park,Manhattan,9.471628e+09,5.313407e+09,649,1661,996